{% extends 'base.html.twig' %}

{% block title %}
Lista Documenti
{% endblock %}

{% block javascripts %}
<script src="/js/documenti/documenti.js" defer></script>
<script src="/js/teste/teste_lista.js" defer></script>    
{% endblock %}


{% block stylesheets %}
<style>
.ok_puntatore{
    cursor: pointer;
 }

 


</style>
 {% endblock %}

{% block body %}


<span><h1>Documenti</h1></span>
 
 {{ form_start(form, {'attr': {'id': 'form_filtro'}})}}

 <div class="row">
            <div class="col-3">
            {{ form_row(form.terminato) }}
            </div>
</div>
  {{ form_end(form)}}


<a href='{{ href_new }}'><input type="button" class="btn btn-primary" id="add_anomalia"  value="Nuovo Documento" /></a>
    
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Tipo</th>
                <th>Stampa</th>
                <th>Documento</th>
                <th>Numero</th>
                <th>Data</th>
                <th>Veicolo</th>
                <th>Targa</th>
                <th>Tipo_intervento</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for r in aLab %}
            <tr class='{{ r.terminato_class }}'>
                <td><a href='{{r.href_dettaglio}}'><i class="fa-solid fa-pencil"></i></a></td>
                <td>{{ r.tipodoc }}</td>
                <td><a href='{{r.href_stampa_doc}}'><i class="fa-solid fa-print"></i></a></td>
                <td style="text-align: center; width: 40px;"><a href="javascript: void(0)" onclick="documenti('{{ r.targa }}','{{ r.veicolo_descr }}','{{ r.id_veicolo }}')"><i class="fa-solid fa-list"></i></a></td>
                  {#  {{ dump(r.href_stampa_doc) }}  #}
                <td>{{ r.numero_doc }}</td>
                <td>{{ r.data_doc ? r.data_doc|date('d/m/y') : '' }}</td>
                <td>{{ r.veicolo_descr }}</td>
                <td>{{ r.targa }}</td>
                <td>{{ r.tipo_intervento }}</td>
                <td>
                    <i class="fa-solid fa-trash btnDeleteTesta ok_puntatore"  data_id_testa="{{r.id_testa}}"></i>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 

{% endblock %}



