
{% for riga in righe %}           
			<tr>
				<td><input type="button" id="update_riga"
					onclick="location.href='{{ path('app_righe_edit', {'id': riga.id}) }}'"
					value="modifica"></td>
				<td>{{ riga.descrizioneAnomalia}}</td>
				<td>{{ riga.descrizioneIntervento}}</td>
				<td>{{ riga.idMeccanico}}</td>
				<td>{{ riga.stato}}</td>
				<td><input type="button" id="delete_riga"
					onclick="confirmDelete({{ riga.id }})" value="cancella" 
					class = "button red" value="cancella"></td>
				
			</tr>
<script>
function confirmDelete(e) {
	let text = "Sei sicuro di voler cancellare l'anomalia? '" + e + "'";
	if (confirm(text) == true) {
		var request = new XMLHttpRequest();
		// Instantiating the request object
		request.open("GET", "/righe/delete/" + e);
		request.send();
	}
	location.reload();
}
</script>
{% endfor %}




